{% extends "partials/conteneur.html" %}

{% block body %}

    <div class="container">
        <h1>Bienvenue sur l'application du Factbook!</h1>
        <p>Voici le lien vers le site officiel : <a
                href="https://www.cia.gov/the-world-factbook/">https://www.cia.gov/the-world-factbook/</a></p>

        {%if donnees%}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Capitale</th>
                    <th scope="col">Continent</th>
                </tr>
            </thead>
            <tbody>
                {%for pays in donnees%}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('pays_specifique', nom=pays.nom)}}">{{pays.nom}}</a></td>
                    <td>{{pays.capitale}}</td>
                    <td>{{pays.continent}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
    </div>

{% endblock %}